$dashboard-banner-gradient-start: $primary !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%)!default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: #fff !default;
$dashboard-banner-chart-legend-value-color: $dashboard-stats-item-value-color !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-plain-container-height: 205px;
$dashboard-banner-chart-axis-font-color: $dashboard-stats-item-value-color !default;

.dashboard-banner-container {
  position: relative;
  margin-top: -6rem;
  background-color: $primary;
  box-shadow: 0 5px 40px -5px rgba($black, 0.25);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 72px;
    background-color: $primary;
    // box-shadow: 0 0 40px -5px rgba($black, 0.25);
  }

  &::after {
    background-color: $dashboard-banner-network-plain-container-background-color;
    bottom: 0;
    content: "";
    display: block;
    height: $dashboard-banner-network-plain-container-height;
    left: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 70%;
    background-color: $primary;
    // box-shadow: 0 0 40px -5px rgba($black, 0.25);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.dashboard-banner {
  position: relative;
  display: grid;
  grid-template-rows: 3rem 2fr 1fr;
  grid-template-columns: 0fr 5fr;
  grid-template-areas:
    "chart ."
    "chart stats"
    "legend stats";
  margin-top: -1rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 9;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.dashboard-banner-graphic {
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.dashboard-banner-chart {
  grid-area: chart;
  // padding: 1rem 1rem 1rem 0;
  width: calc(1px);
  height: calc(152px + 1rem);
}

// .dashboard-banner-chart-legend {
//   grid-area: legend;
//   display: flex;
//   padding: 1rem 0.3rem;

//   &-item {
//     padding-left: 0.5rem;
//     flex-grow: 1;

//     &:first-of-type {
//       border-left: 4px solid $primary;
//     }

//     &:last-of-type {
//       border-left: 4px solid $secondary;
//     }
//   }

//   &-label {
//     display: block;
//     color: $text-muted;
//   }

//   &-value {
//     display: block;
//   }
// }

.dashboard-banner-network-stats {
  height: calc(152px + 1rem);
  grid-area: stats;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 1rem;
  background-color: $primary;
  // box-shadow: -10px 0 15px 0 rgba($black, 0.14);

  // @media (max-width: 992px) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   padding: 0.5rem 2rem;
  // }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.dashboard-banner-network-stats {
  column-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}