// ------------------------------- //
// Neutral Theme 1: Blue Shifted
// ------------------------------- //

// $primary:       #254F8D;
// $secondary:     #72B0FB;
// $tertiary:      #72B0FB;


// ------------------------------- //
// Neutral Theme 2: Black and Blue
// ------------------------------- //

// $primary:       #34373E;
// $secondary:     #72B0FB;
// $tertiary:      #72B0FB;


// ------------------------------- //
// Neutral Theme 3: Purple Shifted
// ------------------------------- //

$primary:       #3c8097;
$secondary:     #6ebdc5;
$tertiary:      #a3b856;
